trunk/TimeRaport/Resources/Holydays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Holiday">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Date" type="xs:date" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Info" type="xs:string" />
              <xs:element name="TimeToWork" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>